@*<ul>
        <li>Rice</li>
        <li>Sugar</li>
        <li>Wheat</li>
    </ul>*@

@model  MVCRockersBatch.Models.EmployeeModel
@{
    ViewBag.Title = "SendData3";
}

<h2>SendData3</h2>

@Model.EmpId
<br />
@Model.EmpName
<br />
@Model.EmpSalary
<br />